In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import json
# import seaborn as sns
# import re

In [9]:
bz = pd.read_csv('yelp_dataset/restaurant.csv',index_col='Unnamed: 0')
rv = pd.read_csv('yelp_dataset/reviews_filtered.csv',index_col='Unnamed: 0')
us = pd.read_csv('yelp_dataset/user_filtered.csv',index_col='Unnamed: 0')

# bz --> rv --> us

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:568: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [8]:
bz.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,attributes.DietaryRestrictions.gluten-free,attributes.DietaryRestrictions.vegan,attributes.DietaryRestrictions.kosher,attributes.DietaryRestrictions.halal,attributes.DietaryRestrictions.soy-free,attributes.DietaryRestrictions.vegetarian,attributes.BestNights,attributes.Open24Hours,attributes.DietaryRestrictions,attributes.RestaurantsCounterService
17,PZ-LZzSlhSe9utkQYU8pFg,Carluccio's Tivoli Gardens,"1775 E Tropicana Ave, Ste 29",Las Vegas,NV,89119.0,36.100016,-115.128528,4.0,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,KWywu2tTEPWmR9JnBc0WyQ,Hunk Mansion,6007 Dean Martin Dr,Las Vegas,NV,89118.0,36.080168,-115.182756,4.0,107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,tstimHoMcYbkSC4eBA1wEg,Maria's Mexican Restaurant & Bakery,6055 E Lake Mead Blvd,Las Vegas,NV,89156.0,36.195615,-115.040529,4.5,184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NBn4hgfGtNz91k3VsDZlmw,Three Square,4190 N Pecos Rd,Las Vegas,NV,89115.0,36.236053,-115.096454,5.0,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,kANF0dbeoW34s2vwh6Umfw,Dairy Queen,6125 Spring Mountain Rd,Las Vegas,NV,89146.0,36.125031,-115.225620,2.0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
rv.head()

,business_id,review_id,user_id,stars,useful,funny,cool,text,date
0,PZ-LZzSlhSe9utkQYU8pFg,klcF45wKIOpJW_BhJslOJg,-Yz2wIcsdJxUOFMbTgoKQA,5.0,1.0,0.0,0.0,"We went there for dinner the other night, bein...",2011-06-29 02:55:07
1,PZ-LZzSlhSe9utkQYU8pFg,Li-pQG6A7p5gbgZHTMeDSQ,jYcf_e5p0UG0S-9gJq_tNA,4.0,1.0,0.0,0.0,i had the best Chicken Marcela ever. The spagh...,2010-10-06 18:20:13
2,PZ-LZzSlhSe9utkQYU8pFg,iRLX3dJ3ONvncIxPnXy1cw,nQC0JiPIk_jCooRDxpuw5A,5.0,1.0,0.0,0.0,Basically the best Italian in town for the pri...,2010-01-13 00:35:45
3,PZ-LZzSlhSe9utkQYU8pFg,rklteWf9xnTU3fAtMFBRRw,Gv_-mtOKhWFtCjn9xFe0SQ,3.0,1.0,0.0,0.0,Mmmmm delicious food and a little history. Mr....,2008-08-23 20:30:33
4,PZ-LZzSlhSe9utkQYU8pFg,UfRqM0RGdZa86hFcFEAnjw,pabMYegF28KjHQ5hybAJ0A,3.0,1.0,0.0,0.0,"This is old Vegas, this atmosphere is old scho...",2009-06-01 20:02:55

In [6]:
us.head()

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,compliments
0,0,-Yz2wIcsdJxUOFMbTgoKQA,Walt,72,2011-06-29 02:38:05,177,35,28,NaN,"Sh6E0df5Y1Em-MHDeL6Nkw, 8SgjU2fID9VqKQooFt1DIQ...",2,3.42,10
1,1,jYcf_e5p0UG0S-9gJq_tNA,Fred,21,2009-02-05 00:22:04,32,9,5,NaN,None,1,2.86,2
2,2,nQC0JiPIk_jCooRDxpuw5A,N,18,2010-01-12 23:10:51,34,16,2,NaN,None,0,3.89,1
3,3,Gv_-mtOKhWFtCjn9xFe0SQ,Crysta,149,2008-06-23 19:08:04,170,59,81,NaN,"pWVy4iCapVG-3DDb6celgA, GGWjA8v479feCo6OPTLQOg...",24,4.05,71
4,4,pabMYegF28KjHQ5hybAJ0A,Steve,59,2009-03-03 16:53:04,45,10,12,NaN,"KGBfVdXlMRP9OoP8PusISg, mJLRvqLOKhqEdkgt9iEaCQ...",2,3.80,7

In [38]:
bz1 = bz.sample(frac=0.1)
rv1 = bz1[['business_id']].merge(rv, how='left',on='business_id')
us1 = rv1[['user_id']].merge(rv1, how='left',on='user_id')

In [39]:
df = rv1.groupby(['business_id','user_id']).agg({'stars':'mean'}).reset_index()

In [40]:
df.shape

(135180, 3)

In [33]:
df = df.pivot(index = 'user_id', columns ='business_id', values = 'stars').fillna(0)
df.head()

business_id,-3H_6UZGWrfl8XQsm1fBmw,-46pFijv3f2jZH-_Ze6CQA,-8R_-EkGpUhBk55K9Dd4mg,-8ZiMXZReeTD3kwEvS0Lww,-AD5PiuJHgdUcAK-Vxao2A,-ADtl9bLp8wNqYX1k3KuxA,-AGdGGCeTS-njB_8GkUmjQ,-AUh0iDyhLV6OfXloHPl0Q,-BS4aZAQm9u41YnB9MUASA,-Bf8BQ3yMk8U2f45r2DRKw,...,zrMpy_uQ5_77YapMkp8lUA,zsQk990PubOHjr1YcLkQFw,zt9RLUIU32fZYOBh2L0NNQ,zttcrQP4MxNS5X5itzStXg,zuwba6QEBIDZT0tJZmNhdQ,zvQIEpJUmLLmMMffNntHXQ,zwmKWhyyV-zejEUbQzBtHw,zx_j6OuuHHa2afVoAZuLpA,zzjqFOujmM9surbMANZ_ag,zzzaIBwimxVej4tY6qFOUQ
user_id,,,,,,,,,,,,,,,,,,,,,
---1lKK3aKOuomHnwAkAow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
---udAKDsn0yQXmzbWQNSw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--0sXNBv6IizZXuV-nl0Aw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--2vR0DIsmQ6WfcSzKWigw,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
--3WaS23LcIXtxyFULJHTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
r = df.as_matrix()
user_stars_mean = np.mean(r, axis = 1)
r_demeaned = r - user_stars_mean.reshape(-1, 1)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [35]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(r_demeaned, k = 50)

In [36]:
sigma = np.diag(sigma)

In [37]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_stars_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = r_df.columns)

KeyboardInterrupt:

In [ ]:
def recommend(predictions_df, userID, business_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values(ascending=False)
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df['user_ID'] == (userID)]
    user_full = (user_data.merge(business_df,
                                 how = 'left', left_on = 'business_id', right_on = 'business_id').
                 sort_values(['Rating'], ascending=False))

    print 'User {0} has already rated {1} movies.'.format(userID, user_full.shape[0])
    print 'Recommending the highest {0} predicted ratings movies not already rated.'.format(num_recommendations)
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (business_df[~business_df['business_id'].isin(user_full['business_id'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(),
               how = 'left',
               left_on = 'business_id',
               right_on = 'business_id').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).iloc[:num_recommendations, :-1])

    return user_full, recommendations

already_rated, predictions = recommend_movies(preds_df, 1, bz, ratings_df, 10)

In [ ]:
already_rated.head(10)

In [ ]:
predictions