In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import tensorflow as tf
import numpy as np
import time

# Read in data

In [65]:
bz = pd.read_csv('yelp_dataset/restaurant.csv',index_col='Unnamed: 0')
rv = pd.read_csv('yelp_dataset/review_restaurant.csv',index_col='Unnamed: 0')
us = pd.read_csv('yelp_dataset/user.csv',index_col='Unnamed: 0')

# bz --> rv --> us

In [4]:
# bz1 = bz.sample(frac=0.1)
# rv1 = bz1[['business_id']].merge(rv, how='left',on='business_id')
# us1 = rv1[['user_id']].merge(rv1, how='left',on='user_id')

In [5]:
df = rv.groupby(['business_id','user_id']).agg({'stars':'mean'}).reset_index()

In [7]:
df.head()

              business_id                 user_id  stars
0  --9e1ONYQuAa-CB_Rrw7Tw  ---1lKK3aKOuomHnwAkAow    4.0
1  --9e1ONYQuAa-CB_Rrw7Tw  -11nMat3F0DgsxT30hn8zA    5.0
2  --9e1ONYQuAa-CB_Rrw7Tw  -3fMaL_ck0wzEsTZyz-mqA    5.0
3  --9e1ONYQuAa-CB_Rrw7Tw  -47EprTYhe9IbAvplGIcpA    5.0
4  --9e1ONYQuAa-CB_Rrw7Tw  -7cPERHtAupd1Xq53nmhXg    5.0

In [5]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['business_id'] = le.fit_transform(df['business_id'].values)
df['user_id'] = le.fit_transform(df['user_id'].values)

# MF Attempt

In [15]:
msk = np.random.rand(len(df)) < 0.7
df_train = df[msk]
user_ind = [x for x in df_train['user_id'].index]
item_ind = [x for x in df_train['business_id'].index]
stars = df_train['stars'].values

In [ ]:
df_train['user_id'].nunique()

In [ ]:
df_train['business_id'].nunique()

In [8]:
# variables
feature_len = 10
U = tf.Variable(initial_value=tf.truncated_normal([373483,feature_len]), name='users')
P = tf.Variable(initial_value=tf.truncated_normal([feature_len,8848]), name='items')
result = tf.matmul(U, P)
result_flatten = tf.reshape(result, [-1])

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [ ]:
# with tf.Session() as s: x = s.run(tf.shape(result)[1])
# type(x)
# type(user_ind)
# np.multiply(user_ind,x)

In [ ]:
# s = tf.Session()
# np.multiply(user_ind, s.run(tf.shape(result)[1]))

In [ ]:
# s.run(tf.shape(result)[1])

In [ ]:
# # with tf.Session() as s: x = s.run(tf.shape(result)[1])
# R = tf.gather(result_flatten, np.multiply(user_ind, tf.shape(result)[1]) + 
#               item_ind, name='extracting_user_stars')
# np.add(np.multiply(user_ind, x),item_ind)

In [9]:
with tf.Session() as s: x = s.run(tf.shape(result)[1])

In [17]:
y = np.add(np.multiply(user_ind, x),item_ind)

In [18]:
y

array([          0,        8849,       17698, ..., 11899621958,
       11899630807, 11899639656])

In [19]:
R = tf.gather(result_flatten, y, name='extracting_user_stars')

In [ ]:
# with tf.Session() as s: x = s.run(tf.shape(result)[1])
# R = tf.gather(result_flatten, np.add(np.multiply(user_ind, x),item_ind), name='extracting_user_stars')

In [24]:
with tf.Session() as s: s.run(R)

FailedPreconditionError: Attempting to use uninitialized value users
	 [[node users/read (defined at <ipython-input-8-0c956467293a>:3) ]]

Caused by op 'users/read', defined at:
  File "/anaconda3/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/anaconda3/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/anaconda3/lib/python3.7/site-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/anaconda3/lib/python3.7/site-packages/ipykernel/kernelapp.py", line 563, in start
    self.io_loop.start()
  File "/anaconda3/lib/python3.7/site-packages/tornado/platform/asyncio.py", line 148, in start
    self.asyncio_loop.run_forever()
  File "/anaconda3/lib/python3.7/asyncio/base_events.py", line 539, in run_forever
    self._run_once()
  File "/anaconda3/lib/python3.7/asyncio/base_events.py", line 1775, in _run_once
    handle._run()
  File "/anaconda3/lib/python3.7/asyncio/events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "/anaconda3/lib/python3.7/site-packages/tornado/ioloop.py", line 690, in <lambda>
    lambda f: self._run_callback(functools.partial(callback, future))
  File "/anaconda3/lib/python3.7/site-packages/tornado/ioloop.py", line 743, in _run_callback
    ret = callback()
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 787, in inner
    self.run()
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 748, in run
    yielded = self.gen.send(value)
  File "/anaconda3/lib/python3.7/site-packages/ipykernel/kernelbase.py", line 378, in dispatch_queue
    yield self.process_one()
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 225, in wrapper
    runner = Runner(result, future, yielded)
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 714, in __init__
    self.run()
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 748, in run
    yielded = self.gen.send(value)
  File "/anaconda3/lib/python3.7/site-packages/ipykernel/kernelbase.py", line 365, in process_one
    yield gen.maybe_future(dispatch(*args))
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 209, in wrapper
    yielded = next(result)
  File "/anaconda3/lib/python3.7/site-packages/ipykernel/kernelbase.py", line 272, in dispatch_shell
    yield gen.maybe_future(handler(stream, idents, msg))
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 209, in wrapper
    yielded = next(result)
  File "/anaconda3/lib/python3.7/site-packages/ipykernel/kernelbase.py", line 542, in execute_request
    user_expressions, allow_stdin,
  File "/anaconda3/lib/python3.7/site-packages/tornado/gen.py", line 209, in wrapper
    yielded = next(result)
  File "/anaconda3/lib/python3.7/site-packages/ipykernel/ipkernel.py", line 294, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/anaconda3/lib/python3.7/site-packages/ipykernel/zmqshell.py", line 536, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2855, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2881, in _run_cell
    return runner(coro)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3058, in run_cell_async
    interactivity=interactivity, compiler=compiler, result=result)
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3249, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3326, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-8-0c956467293a>", line 3, in <module>
    U = tf.Variable(initial_value=tf.truncated_normal([373483,feature_len]), name='users')
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/variables.py", line 213, in __call__
    return cls._variable_v1_call(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/variables.py", line 176, in _variable_v1_call
    aggregation=aggregation)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/variables.py", line 155, in <lambda>
    previous_getter = lambda **kwargs: default_variable_creator(None, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/variable_scope.py", line 2495, in default_variable_creator
    expected_shape=expected_shape, import_scope=import_scope)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/variables.py", line 217, in __call__
    return super(VariableMetaclass, cls).__call__(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/variables.py", line 1395, in __init__
    constraint=constraint)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/variables.py", line 1557, in _init_from_args
    self._snapshot = array_ops.identity(self._variable, name="read")
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/util/dispatch.py", line 180, in wrapper
    return target(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/array_ops.py", line 81, in identity
    ret = gen_array_ops.identity(input, name=name)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/gen_array_ops.py", line 3890, in identity
    "Identity", input=input, name=name)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py", line 788, in _apply_op_helper
    op_def=op_def)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/util/deprecation.py", line 507, in new_func
    return func(*args, **kwargs)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/ops.py", line 3300, in create_op
    op_def=op_def)
  File "/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/ops.py", line 1801, in __init__
    self._traceback = tf_stack.extract_stack()

FailedPreconditionError (see above for traceback): Attempting to use uninitialized value users
	 [[node users/read (defined at <ipython-input-8-0c956467293a>:3) ]]

In [20]:
# cost function
diff_op = tf.subtract(R, stars, name='training_diff')
diff_op_squared = tf.abs(diff_op, name="squared_difference")
base_cost = tf.reduce_sum(diff_op_squared, name="sum_squared_error")

In [21]:
# regularization
lda = tf.constant(.001, name='lambda')
norm_sums = tf.add(tf.reduce_sum(tf.abs(U, name='user_abs'), name='user_norm'), 
   tf.reduce_sum(tf.abs(P, name='item_abs'), name='item_norm'))
regularizer = tf.multiply(norm_sums, lda, 'regularizer')

cost = tf.add(base_cost, regularizer)

In [22]:
# optimizer
lr = tf.constant(.001, name='learning_rate')
global_step = tf.Variable(0, trainable=False)
learning_rate = tf.train.exponential_decay(lr, global_step, 10000, 0.96, staircase=True)

optimizer = tf.train.GradientDescentOptimizer(learning_rate)
training_step = optimizer.minimize(cost, global_step=global_step)

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/array_grad.py:425: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

ValueError: Tried to convert 'tensor' to a tensor and failed. Error: Dimension size, given by scalar input 2, must be non-negative but is -990389712 for 'gradients/Reshape_grad/Reshape/UnsortedSegmentSum' (op: 'UnsortedSegmentSum') with input shapes: [941491], [941491], [] and with computed input tensors: input[2] = <-990389712>.

In [ ]:
# execution
sess = tf.Session()
init = tf.initialize_all_variables()
sess.run(init)
for i in xrange(500):
    sess.run(training_step)

In [ ]:
# testing
u, p, r = df[['user', 'item', 'rate']].values[0]
rhat = tf.gather(tf.gather(result, u-1), p-1)
print "rating for user " + str(u) + " for item " + str(p) + 
      " is " + str(r) + " and our prediction is: " + str(sess.run(rhat))

In [ ]:
# calculate accuracy
df_test = df[~msk]
user_indecies_test = [x-1 for x in df_test.user.values]
item_indecies_test = [x-1 for x in df_test.item.values]
rates_test = df_test.rate.values

# accuracy
R_test = tf.gather(result_flatten, user_indecies_test * tf.shape(result)[1] + item_indecies_test, name='extracting_user_rate_test')
diff_op_test = tf.sub(R_test, rates_test, name='test_diff')
diff_op_squared_test = tf.abs(diff_op, name="squared_difference_test")

cost_test = tf.div(tf.reduce_sum(tf.square(diff_op_squared_test, name="squared_difference_test"), name="sum_squared_error_test"), df_test.shape[0] * 2, name="average_error")
print sess.run(cost_test)

# CF Attempt

In [ ]:
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split
from surprise.model_selection import KFold
from surprise.model_selection import GridSearchCV

from surprise import SVD
from surprise import Dataset
from surprise import NormalPredictor
from surprise import Reader
from surprise import accuracy
from surprise import similarities
from surprise import KNNBasic

In [ ]:
# bz1 = bz.sample(frac=0.1)
# rv1 = bz1[['business_id']].merge(rv, how='left',on='business_id')
# us1 = rv1[['user_id']].merge(rv1, how='left',on='user_id')

In [ ]:
# reader, the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df[['user_id', 'business_id', 'stars']], reader)

In [ ]:
cross_validate(NormalPredictor(), data, cv=5)

In [ ]:
# split the data into test and training
trainset, testset = train_test_split(data, test_size=0.2)

# We'll use the famous SVD algorithm.
algo = SVD()

# Train the algorithm on the trainset, and predict ratings for the testset
algo.fit(trainset)
predictions = algo.test(testset)

# Then compute RMSE
accuracy.rmse(predictions)

In [ ]:
cross_validate(algo, data, measures=['rmse', 'mae'], cv=5,
               return_train_measures=False, n_jobs=1,
               pre_dispatch='2*n_jobs', verbose=False)

In [ ]:
param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

#### cosine similarity

In [ ]:
sim_options = {'name': 'cosine'}
algo2 = KNNBasic(sim_options=sim_options)

algo2.fit(trainset)
similarities = algo2.test(testset)

accuracy.rmse(similarities)

In [ ]:
sim_options2 = {'name': 'pearson'}
algo3 = KNNBasic(sim_options=sim_options)

algo3.fit(trainset)
similarities = algo2.test(testset)

accuracy.rmse(similarities)

In [ ]:
cross_validate(algo2, data, measures=['rmse', 'mae'], cv=2,
               return_train_measures=False, n_jobs=1,
               pre_dispatch='2*n_jobs', verbose=False)

# CF Attempt 2

In [ ]:
n_users = ratings.user_id.unique().shape[0]
n_items = ratings.movie_id.unique().shape[0]

In [ ]:
data_matrix = np.zeros((n_users, n_items))
for line in ratings.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

In [ ]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [ ]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [ ]:
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

# MF Attempt 2

Code from https://blog.insightdatascience.com/explicit-matrix-factorization-als-sgd-and-all-that-jazz-b00e4d9b21ea

In [61]:
df.to_numpy()

array([['--9e1ONYQuAa-CB_Rrw7Tw', '---1lKK3aKOuomHnwAkAow', 4.0],
       ['--9e1ONYQuAa-CB_Rrw7Tw', '-11nMat3F0DgsxT30hn8zA', 5.0],
       ['--9e1ONYQuAa-CB_Rrw7Tw', '-3fMaL_ck0wzEsTZyz-mqA', 5.0],
       ...,
       ['zzzaIBwimxVej4tY6qFOUQ', 'spceyljVwAJ8vKjlI5wllQ', 3.0],
       ['zzzaIBwimxVej4tY6qFOUQ', 'sxEjivCOzY3tVcvVWA0EvQ', 5.0],
       ['zzzaIBwimxVej4tY6qFOUQ', 'vwLV4TkRMoghs86tB1Ke8Q', 3.0]],
      dtype=object)

In [2]:
n_users = df.user_id.unique().shape[0]
n_items = df.business_id.unique().shape[0]
ratings = np.zeros((n_users, n_items))

for row in df.itertuples():
    ratings[row[1]-1, row[2]-1] = row[3]
ratings

NameError: name 'df' is not defined

In [41]:
def train_test_split(ratings):
    test = np.zeros(ratings.shape)
    train = ratings.copy()
    for user in range(ratings.shape[0]):
        test_ratings = np.random.choice(ratings[user, :].nonzero()[0], 
                                        size=10, 
                                        replace=False)
        train[user, test_ratings] = 0.
        test[user, test_ratings] = ratings[user, test_ratings]
        
    # Test and training are truly disjoint
    assert(np.all((train * test) == 0)) 
    return train, test

In [ ]:
train, test = train_test_split(ratings)

In [31]:
from numpy.linalg import solve

class ExplicitMF():
    def __init__(self, 
                 ratings, 
                 n_factors=40, 
                 item_reg=0.0, 
                 user_reg=0.0,
                 verbose=False):
        """
        Train a matrix factorization model to predict empty 
        entries in a matrix. The terminology assumes a 
        ratings matrix which is ~ user x item
        
        Params
        ======
        ratings : (ndarray)
            User x Item matrix with corresponding ratings
        
        n_factors : (int)
            Number of latent factors to use in matrix 
            factorization model
        
        item_reg : (float)
            Regularization term for item latent factors
        
        user_reg : (float)
            Regularization term for user latent factors
        
        verbose : (bool)
            Whether or not to printout training progress
        """
        
        self.ratings = ratings
        self.n_users, self.n_items = ratings.shape
        self.n_factors = n_factors
        self.item_reg = item_reg
        self.user_reg = user_reg
        self._v = verbose

    def als_step(self,
                 latent_vectors,
                 fixed_vecs,
                 ratings,
                 _lambda,
                 type='user'):
        """
        One of the two ALS steps. Solve for the latent vectors
        specified by type.
        """
        if type == 'user':
            # Precompute
            YTY = fixed_vecs.T.dot(fixed_vecs)
            lambdaI = np.eye(YTY.shape[0]) * _lambda

            for u in range(latent_vectors.shape[0]):
                latent_vectors[u, :] = solve((YTY + lambdaI), 
                                             ratings[u, :].dot(fixed_vecs))
        elif type == 'item':
            # Precompute
            XTX = fixed_vecs.T.dot(fixed_vecs)
            lambdaI = np.eye(XTX.shape[0]) * _lambda
            
            for i in range(latent_vectors.shape[0]):
                latent_vectors[i, :] = solve((XTX + lambdaI), 
                                             ratings[:, i].T.dot(fixed_vecs))
        return latent_vectors

    def train(self, n_iter=10):
        """ Train model for n_iter iterations from scratch."""
        # initialize latent vectors
        self.user_vecs = np.random.random((self.n_users, self.n_factors))
        self.item_vecs = np.random.random((self.n_items, self.n_factors))
        
        self.partial_train(n_iter)
    
    def partial_train(self, n_iter):
        """ 
        Train model for n_iter iterations. Can be 
        called multiple times for further training.
        """
        ctr = 1
        while ctr <= n_iter:
            if ctr % 10 == 0 and self._v:
                print('\tcurrent iteration: {}'.format(ctr))
            self.user_vecs = self.als_step(self.user_vecs, 
                                           self.item_vecs, 
                                           self.ratings, 
                                           self.user_reg, 
                                           type='user')
            self.item_vecs = self.als_step(self.item_vecs, 
                                           self.user_vecs, 
                                           self.ratings, 
                                           self.item_reg, 
                                           type='item')
            ctr += 1
    
    def predict_all(self):
        """ Predict ratings for every user and item. """
        predictions = np.zeros((self.user_vecs.shape[0], 
                                self.item_vecs.shape[0]))
        for u in xrange(self.user_vecs.shape[0]):
            for i in xrange(self.item_vecs.shape[0]):
                predictions[u, i] = self.predict(u, i)
                
        return predictions
    def predict(self, u, i):
        """ Single user and item prediction. """
        return self.user_vecs[u, :].dot(self.item_vecs[i, :].T)
    
    def calculate_learning_curve(self, iter_array, test):
        """
        Keep track of MSE as a function of training iterations.
        
        Params
        ======
        iter_array : (list)
            List of numbers of iterations to train for each step of 
            the learning curve. e.g. [1, 5, 10, 20]
        test : (2D ndarray)
            Testing dataset (assumed to be user x item).
        
        The function creates two new class attributes:
        
        train_mse : (list)
            Training data MSE values for each value of iter_array
        test_mse : (list)
            Test data MSE values for each value of iter_array
        """
        iter_array.sort()
        self.train_mse =[]
        self.test_mse = []
        iter_diff = 0
        for (i, n_iter) in enumerate(iter_array):
            if self._v:
                print('Iteration: {}'.format(n_iter))
            if i == 0:
                self.train(n_iter - iter_diff)
            else:
                self.partial_train(n_iter - iter_diff)

            predictions = self.predict_all()

            self.train_mse += [get_mse(predictions, self.ratings)]
            self.test_mse += [get_mse(predictions, test)]
            if self._v:
                print('Train mse: ' + str(self.train_mse[-1]))
                print('Test mse: ' + str(self.test_mse[-1]))
            iter_diff = n_iter

In [32]:
from sklearn.metrics import mean_squared_error

def get_mse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return mean_squared_error(pred, actual)

In [ ]:
MF_ALS = ExplicitMF(train, n_factors=40, user_reg=0.0, item_reg=0.0)
iter_array = [1, 2, 5, 10, 25, 50, 100]
MF_ALS.calculate_learning_curve(iter_array, test)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

def plot_learning_curve(iter_array, model):
    plt.plot(iter_array, model.train_mse, \
             label='Training', linewidth=5)
    plt.plot(iter_array, model.test_mse, \
             label='Test', linewidth=5)


    plt.xticks(fontsize=16);
    plt.yticks(fontsize=16);
    plt.xlabel('iterations', fontsize=30);
    plt.ylabel('MSE', fontsize=30);
    plt.legend(loc='best', fontsize=20);

In [ ]:
plot_learning_curve(iter_array, MF_ALS)

# Demo Check

In [66]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [67]:
demo = ['9ks-80ZxeCZWNObzEbW4-Q','pabMYegF28KjHQ5hybAJ0A','F_N4NyoMJWzBYFspeYfH3A',
        'KFWOn7x19RmrO6kzTJYmrQ','yi_4YTVS6XL7s5atKPbmpA','owbC7FP8SNAlwv6f9S5Stw',
        'AoII0-uM9z0EesGnb9YCjQ','lYyWUsl47zaEoKJQxuqLcQ','sGIGOFKg_yTd76cDPs6pjA']

In [179]:
demo_rv = rv[rv['user_id'].isin(demo)]
demo_us = us[us['user_id'].isin(demo)]
demo_bz = bz[bz['business_id'].isin(demo_rv['business_id'].unique().tolist())]

In [180]:
demo_rv.drop(['useful','funny','cool','review_id'],axis=1,inplace=True)
demo_rv = demo_rv.rename(columns={"stars": "rv.stars"})

In [171]:
demo_rv.head()

               business_id                 user_id  rv.stars                                               text                 date
4   PZ-LZzSlhSe9utkQYU8pFg  pabMYegF28KjHQ5hybAJ0A       3.0  This is old Vegas, this atmosphere is old scho...  2009-06-01 20:02:55
5   PZ-LZzSlhSe9utkQYU8pFg  F_N4NyoMJWzBYFspeYfH3A       4.0  Heavy on the atmosphere, heavy on the red sauc...  2010-05-22 16:54:57
19  PZ-LZzSlhSe9utkQYU8pFg  KFWOn7x19RmrO6kzTJYmrQ       5.0  Can't say much more than what everyone else ha...  2011-02-27 16:01:22
20  PZ-LZzSlhSe9utkQYU8pFg  F_N4NyoMJWzBYFspeYfH3A       4.0  When I heard the Liberace Museum was shutting ...  2010-12-17 20:30:54
23  PZ-LZzSlhSe9utkQYU8pFg  yi_4YTVS6XL7s5atKPbmpA       1.0  The Olive Garden by any other name is still Th...  2009-09-06 05:11:50

In [181]:
# to use as a merge
demo_us_merge = demo_us[['user_id','name']]

In [182]:
# to see users separately
compliments = demo_us.filter(regex='compliment').sum(axis=1)
demo_us1 = demo_us[demo_us.columns.drop(list(demo_us1.filter(regex='compliment')))]
demo_us1 = demo_us1.drop('friends',axis=1)
demo_us1['compliments'] = compliments
demo_us1 = demo_us1.rename(columns={"review_count": "us.review_count"})

KeyError: "['compliments'] not found in axis"

In [176]:
demo_us1

                     user_id      name  us.review_count        yelping_since  useful  funny  cool                          elite  fans  average_stars  compliments
4     pabMYegF28KjHQ5hybAJ0A     Steve               59  2009-03-03 16:53:04      45     10    12                            NaN     2           3.80            7
5     F_N4NyoMJWzBYFspeYfH3A      Mike              401  2009-12-11 18:58:50     436    118   107                            NaN     9           3.60           25
19    KFWOn7x19RmrO6kzTJYmrQ   Melanie              130  2010-07-12 03:56:38     390    139   195                      2012,2013    15           4.01          100
22    yi_4YTVS6XL7s5atKPbmpA    Joseph              167  2008-04-20 05:16:25     655    480   321                            NaN    17           3.19          112
29    owbC7FP8SNAlwv6f9S5Stw      Girl              245  2012-09-28 19:36:16     484    259   177                            NaN     8           3.44           25
35    AoII0-uM9z0EesGnb9YCjQ      Nick               57  2009-06-19 23:37:27     173    132    94                           2011     3           3.83           33
75    lYyWUsl47zaEoKJQxuqLcQ  Michelle              662  2011-05-29 17:24:38    2166   1051  1305  2012,2013,2014,2015,2016,2017   187           3.95          556
80    sGIGOFKg_yTd76cDPs6pjA   Krystal              100  2013-04-21 20:35:55     266     60   174                 2016,2017,2018    15           4.36           29
5231  9ks-80ZxeCZWNObzEbW4-Q   Cynthia              535  2012-09-21 03:40:08    2969   1732  2032  2013,2014,2015,2016,2017,2018   102           3.84          931

In [185]:
demo_bz = demo_bz[demo_bz.columns.drop(list(demo_bz.filter(regex='attributes')))]
demo_bz = demo_bz.drop(['address','city','state','postal_code','latitude','longitude'], axis=1)
demo_bz = demo_bz.rename(columns={"name": "rt.name","stars": "rt.stars",
                        "review_count":"rt.review_count"})

In [154]:
demo_bz.head()

                 business_id                          rt.name  rt.stars  rt.review_count  is_open                 categories
17    PZ-LZzSlhSe9utkQYU8pFg       Carluccio's Tivoli Gardens       4.0               40        0                Restaurants
22    KWywu2tTEPWmR9JnBc0WyQ                     Hunk Mansion       4.0              107        1                       Bars
464   LEOvXK3lMEfjnex3CPvrng  Albinas Italian American Bakery       4.5               11        0  Food,Bakeries,Restaurants
1744  GMrwDXRlAZU2zj5nH6l4vQ                  Pho Thanh Huong       4.0              481        1     Restaurants,Sandwiches
1975  ujHiaprwCQ5ewziu0Vi9rw           The Buffet at Bellagio       3.5             4227        1        Buffets,Restaurants

In [186]:
full_demo = demo_rv.merge(demo_us_merge, on='user_id', how='inner')
full_demo = full_demo.merge(demo_bz, on='business_id', how='inner')
# full_demo = demo_rv.merge(demo_bz, on='business_id', how='inner')

In [192]:
demo_list = []
for i in demo:
    demo_list.append(full_demo[full_demo['user_id']==i].drop(['business_id','user_id','text'],axis=1))

In [195]:
for i in ['rv.stars','rt.stars','is_open','categories']:
    print(demo_list[0][i].value_counts())

4.0    94
5.0    68
3.0    38
2.0    24
1.0     9
Name: rv.stars, dtype: int64
4.0    90
3.5    59
4.5    41
3.0    28
2.5    12
5.0     2
2.0     1
Name: rt.stars, dtype: int64
1    189
0     44
Name: is_open, dtype: int64
Restaurants                                                                                                                              33
Restaurants,Bars                                                                                                                          5
Restaurants,Burgers                                                                                                                       5
Bars                                                                                                                                      4
Coffee & Tea,Food                                                                                                                         4
Buffets,Restaurants                                                                                                                       3
Sushi Bars,Restaurants                                                                                                                    3
Sushi Bars,Restaurants,Seafood                                                                                                            3
Food,Restaurants                                                                                                                          3
Restaurants,Buffets                                                                                                                       3
Restaurants,Breakfast & Brunch                                                                                                            3
Food,Coffee & Tea                                                                                                                         2
Restaurants,Sandwiches                                                                                                                    2
Cajun/Creole,Seafood,Restaurants                                                                                                          2
Restaurants,Fast Food,Burgers                                                                                                             2
Restaurants,Burgers,Bars,Diners                                                                                                           2
Pizza,Restaurants                                                                                                                         2
Desserts,Food,Specialty Food,Popcorn Shops                                                                                                2
Soup,Buffets,Vegetarian,Restaurants,Salad                                                                                                 2
Food,Restaurants,Juice Bars & Smoothies,Vegetarian,Cafes                                                                                  2
Bars,Burgers,Restaurants                                                                                                                  2
Food,Restaurants,Bakeries,Coffee & Tea,Cafes                                                                                              2
Tacos,Restaurants                                                                                                                         2
Restaurants,Bars,Breakfast & Brunch                                                                                                       2
Barbeque,Restaurants,Soul Food                                                                                                            1
Ice Cream & Frozen Yogurt,Desserts,Patisserie/Cake Shop,Gelato,Food                                                                       1
Restaurants,Sushi Bars,Bars                                                                                                               1
Restaurants,Sushi Bars,Steakhouses                                                                                                        1
Restaurants,Food,Fast Food,Specialty Food                                                                                                 1
Restaurants,Seafood,Steakhouses,Diners,Bars                                                                                               1
Food,Coffee & Tea,Donuts                                                                                                                  1
Soup,Restaurants,Noodles                                                                                                                  1
Delis,Salad,Restaurants,Desserts,Food,Sandwiches                                                                                          1
Food Trucks,Food                                                                                                                          1
Restaurants,Fast Food,Food,Poke,Sushi Bars                                                                                                1
Restaurants,Steakhouses,Sushi Bars                                                                                                        1
Seafood,Bars,Restaurants                                                                                                                  1
Restaurants,Food,Specialty Food                                                                                                           1
Restaurants,Sushi Bars,Salad                                                                                                              1
Restaurants,Steakhouses,Seafood                                                                                                           1
Gelato,Desserts,Food,Ice Cream & Frozen Yogurt                                                                                            1
Restaurants,Food                                                                                                                          1
Bagels,Bakeries,Salad,Food,Breakfast & Brunch,Soup,Sandwiches,Restaurants                                                                 1
Desserts,Food,Bakeries                                                                                                                    1
Cafes,Restaurants,Desserts,Coffee & Tea,Food,Shaved Ice                                                                                   1
Coffee & Tea,Donuts,Food                                                                                                                  1
Restaurants,Breakfast & Brunch,Burgers                                                                                                    1
Coffee & Tea,Food,Juice Bars & Smoothies                                                                                                  1
Restaurants,Breakfast & Brunch,Cafes,Sandwiches,Food,Coffee & Tea                                                                         1
Restaurants,Pizza,Comfort Food,Fast Food                                                                                                  1
Fast Food,Restaurants                                                                                                                     1
Tea Rooms,Coffee & Tea,Tapas Bars,Restaurants,Food,Desserts                                                                               1
Restaurants,Hot Dogs                                                                                                                      1
Desserts,Pizza,Restaurants,Food                                                                                                           1
Cupcakes,Custom Cakes,Ice Cream & Frozen Yogurt,Food                                                                                      1
Food,Breakfast & Brunch,Restaurants,Steakhouses                                                                                           1
Coffee & Tea,Restaurants,Donuts,Food,Breakfast & Brunch                                                                                   1
Ice Cream & Frozen Yogurt,Fast Food,Burgers,Food,Restaurants                                                                              1
Bars,Restaurants                                                                                                                          1
Sandwiches,Food,Diners,Breakfast & Brunch,Restaurants                                                                                     1
Sushi Bars,Salad,Restaurants,Buffets                                                                                                      1
Restaurants,Seafood,Comfort Food                                                                                                          1
Ice Cream & Frozen Yogurt,Bakeries,Cupcakes,Food                                                                                          1
Buffets,Sushi Bars,Restaurants                                                                                                            1
Bubble Tea,Juice Bars & Smoothies,Coffee & Tea,Tea Rooms,Ice Cream & Frozen Yogurt,Food                                                   1
Bars,Dive Bars,Restaurants                                                                                                                1
Bakeries,Food,Desserts                                                                                                                    1
Salad,Restaurants,Sushi Bars                                                                                                              1
Noodles,Restaurants,Vegan                                                                                                                 1
Buffets,Breakfast & Brunch,Restaurants                                                                                                    1
Food,Buffets,Restaurants                                                                                                                  1
Sandwiches,Vegan,Juice Bars & Smoothies,Coffee & Tea,Cafes,Restaurants,Food,Desserts                                                      1
Breakfast & Brunch,Restaurants,Diners,Cafes                                                                                               1
Breakfast & Brunch,Pubs,Food,Restaurants,Bars                                                                                             1
Steakhouses,Bakeries,Bars,Seafood,Restaurants,Live/Raw Food,Food                                                                          1
Restaurants,Salad,Sandwiches,Burgers,Diners,Breakfast & Brunch                                                                            1
Restaurants,Burgers,Cafes                                                                                                                 1
Juice Bars & Smoothies,Delis,Restaurants,Food,Breakfast & Brunch                                                                          1
Restaurants,Dim Sum,Noodles,Soup,Bars                                                                                                     1
Steakhouses,Restaurants,Seafood                                                                                                           1
Ice Cream & Frozen Yogurt,Desserts,Food                                                                                                   1
Food,Ice Cream & Frozen Yogurt,Patisserie/Cake Shop,Desserts                                                                              1
Burgers,Pizza,Bars,Food,Beer,Wine & Spirits,Restaurants,Comfort Food                                                                      1
Restaurants,Steakhouses                                                                                                                   1
Delis,Coffee & Tea,Vegan,Breakfast & Brunch,Food,Cafes,Restaurants,Sandwiches                                                             1
Restaurants,Seafood,Bars                                                                                                                  1
Burgers,Salad,Restaurants                                                                                                                 1
Breakfast & Brunch,Restaurants,Sandwiches                                                                                                 1
Juice Bars & Smoothies,Restaurants,Desserts,Food                                                                                          1
Bakeries,Coffee & Tea,Food,Restaurants,Sandwiches                                                                                         1
Food,Specialty Food,Candy Stores                                                                                                          1
Wine Bars,Bars,Restaurants,Steakhouses                                                                                                    1
Sushi Bars,Restaurants,Bars                                                                                                               1
Donuts,Food                                                                                                                               1
Pubs,Bars,Restaurants                                                                                                                     1
Fast Food,Restaurants,Sandwiches                                                                                                          1
Food,Restaurants,Bars,Beer,Wine & Spirits                                                                                                 1
Sandwiches,Breakfast & Brunch,Buffets,Restaurants                                                                                         1
Restaurants,Bars,Sushi Bars                                                                                                               1
Bars,Restaurants,Burgers                                                                                                                  1
Vegan,Restaurants,Tea Rooms,Vegetarian,Bakeries,Food,Coffee & Tea                                                                         1
Desserts,Bakeries,Restaurants,Food,Cafes,Coffee & Tea                                                                                     1
Restaurants,Steakhouses,Seafood,Bars,Wine Bars                                                                                            1
Restaurants,Breakfast & Brunch,Coffee & Tea,Cafes,Food                                                                                    1
Specialty Food,Food,Restaurants,Cocktail Bars,Bars                                                                                        1
Restaurants,Buffets,Sandwiches,Food,Breakfast & Brunch                                                                                    1
Breakfast & Brunch,Restaurants,Bars                                                                                                       1
Restaurants,Steakhouses,Seafood,Wine Bars,Bars                                                                                            1
Food,Restaurants,Sushi Bars                                                                                                               1
Restaurants,Bars,Steakhouses                                                                                                              1
Vegetarian,Food,Restaurants                                                                                                               1
Breakfast & Brunch,Restaurants,Sandwiches,Barbeque                                                                                        1
Cocktail Bars,Bars,Steakhouses,Restaurants                                                                                                1
Food,Ice Cream & Frozen Yogurt                                                                                                            1
Coffee & Tea,Coffeeshops,Food                                                                                                             1
Restaurants,Vegan                                                                                                                         1
Restaurants,Ice Cream & Frozen Yogurt,Pizza,Food                                                                                          1
Tea Rooms,Desserts,Cafes,Restaurants,Food,Bubble Tea                                                                                      1
Restaurants,Sushi Bars                                                                                                                    1
Restaurants,Beer,Wine & Spirits,Coffee & Tea,Food,Tacos                                                                                   1
Wine Bars,Desserts,Bars,Food,Restaurants                                                                                                  1
Restaurants,Soup,Ramen,Japanese Curry,Tapas/Small Plates                                                                                  1
Bars,Seafood,Restaurants,Dive Bars                                                                                                        1
Juice Bars & Smoothies,Food                                                                                                               1
Cajun/Creole,Seafood,Steakhouses,Restaurants                                                                                              1
Restaurants,Breakfast & Brunch,Sandwiches                                                                                                 1
Fast Food,Restaurants,Food,Sushi Bars,Poke                                                                                                1
Wine Bars,Bars,Restaurants                                                                                                                1
Pizza,Desserts,Restaurants,Food,Buffets                                                                                                   1
Restaurants,Pizza                                                                                                                         1
Restaurants,Bars,Cocktail Bars                                                                                                            1
Wine Bars,Bars,Restaurants,Pizza,Breakfast & Brunch                                                                                       1
Bakeries,Tea Rooms,Coffee & Tea,Food                                                                                                      1
Juice Bars & Smoothies,Food,Bakeries,Coffee & Tea                                                                                         1
Barbeque,Bars,Beer Bar,Restaurants                                                                                                        1
Sandwiches,Juice Bars & Smoothies,Food,Burgers,Restaurants,Pizza                                                                          1
Restaurants,Seafood                                                                                                                       1
Restaurants,Seafood,Steakhouses,Salad                                                                                                     1
Food                                                                                                                                      1
Cafes,Breakfast & Brunch,Food,Coffee & Tea,Restaurants                                                                                    1
Cafes,Breakfast & Brunch,Coffee & Tea,Food,Restaurants                                                                                    1

In [194]:
demo_list[0]['rv.stars'].value_counts()

     rv.stars                 date     name                                            rt.name  rt.stars  rt.review_count  is_open                                         categories
10        5.0  2014-03-11 21:38:03  Cynthia                      The Bootlegger Italian Bistro       4.0              969        1                            Restaurants,Steakhouses
12        2.0  2013-11-14 05:07:05  Cynthia                                Blue Martini Lounge       3.5              930        1                                   Bars,Restaurants
18        4.0  2014-12-20 22:31:03  Cynthia                              The Shops at Crystals       3.5              346        1                                        Restaurants
57        5.0  2014-10-05 00:52:08  Cynthia                            Golden Steer Steakhouse       4.0              873        1              Restaurants,Seafood,Steakhouses,Salad
64        4.0  2014-07-06 04:03:07  Cynthia                                      Nove Italiano       4.0              495        0                                        Restaurants
94        3.0  2016-06-24 21:35:58  Cynthia                                          Holsteins       4.0             3159        1                           Bars,Burgers,Restaurants
168       5.0  2017-07-10 17:32:24  Cynthia                                 Il Mulino New York       4.0              305        1                                        Restaurants
177       5.0  2013-12-09 07:40:48  Cynthia                                       Secret Pizza       4.0             4286        1                                  Pizza,Restaurants
190       5.0  2015-01-02 03:54:25  Cynthia                            Cucina by Wolfgang Puck       4.0              921        1                                  Restaurants,Pizza
201       4.0  2015-02-18 00:14:05  Cynthia                                     Pot Liquor CAS       3.5              832        0                     Barbeque,Restaurants,Soul Food
209       4.0  2015-08-18 22:55:44  Cynthia                                       Mon Ami Gabi       4.0             8348        1    Food,Breakfast & Brunch,Restaurants,Steakhouses
228       4.0  2014-12-20 21:41:02  Cynthia                                 The Capital Grille       4.5              727        1     Restaurants,Steakhouses,Seafood,Wine Bars,Bars
256       3.0  2012-12-27 12:50:10  Cynthia                                 Vegas Noodle House       4.0              725        1                     Noodles,Vegetarian,Restaurants
274       4.0  2015-02-18 18:23:55  Cynthia                                Gordon Ramsay BurGR       4.0             5484        0                                Restaurants,Burgers
290       5.0  2015-11-25 15:49:46  Cynthia                                         Jaburritos       4.5              187        0                             Sushi Bars,Restaurants
294       5.0  2018-11-08 22:50:47  Cynthia                                     Beauty & Essex       4.0              854        1                        Restaurants,Tapas Bars,Bars
298       4.0  2015-06-07 01:03:05  Cynthia                               35 Steaks + Martinis       4.0              181        0  Beer,Wine & Spirits,Food,Bars,Restaurants,Stea...
308       4.0  2015-10-22 18:03:50  Cynthia        The Peppermill Restaurant & Fireside Lounge       4.0             3260        1                Restaurants,Bars,Breakfast & Brunch
326       2.0  2014-04-15 05:59:51  Cynthia                       Kaizen Fusion Roll and Sushi       4.5              817        1                     Sushi Bars,Restaurants,Seafood
343       4.0  2016-03-11 18:18:15  Cynthia                   Sprinkles Cupcakes and Ice Cream       4.0              855        1   Ice Cream & Frozen Yogurt,Bakeries,Cupcakes,Food
351       5.0  2013-07-26 09:21:21  Cynthia                                         SkinnyFATS       4.5             2206        1  Juice Bars & Smoothies,Delis,Restaurants,Food,...
362       3.0  2014-06-06 05:36:00  Cynthia                 Xtreme Sushi & Sterling Steakhouse       2.5              234        0                 Restaurants,Steakhouses,Sushi Bars
381       3.0  2015-09-09 16:58:16  Cynthia                                Todd English P.U.B.       3.5             1411        0          Food,Restaurants,Bars,Beer,Wine & Spirits
464       2.0  2015-10-28 16:46:41  Cynthia                                      Serendipity 3       3.0             3929        0   Juice Bars & Smoothies,Restaurants,Desserts,Food
471       3.0  2018-04-18 23:21:28  Cynthia                                    A.Y.C.E. Buffet       4.0              456        1                                Buffets,Restaurants
474       4.0  2018-10-31 18:03:00  Cynthia                                    JINYA Ramen Bar       4.0             1522        1  Restaurants,Soup,Ramen,Japanese Curry,Tapas/Sm...
484       4.0  2014-03-19 07:12:10  Cynthia                       Steiner's A Nevada Style Pub       4.0              352        1                              Pubs,Restaurants,Bars
488       5.0  2013-03-22 06:50:10  Cynthia                                     Sunrise Coffee       4.5             1095        1  Vegan,Restaurants,Tea Rooms,Vegetarian,Bakerie...
494       4.0  2014-04-28 01:38:51  Cynthia                                          Sushi Mon       4.0             1051        1               Sushi Bars,Salad,Restaurants,Buffets
501       3.0  2014-09-07 23:45:28  Cynthia                                  Le Village Buffet       3.0             2349        1  Sandwiches,Breakfast & Brunch,Buffets,Restaurants
504       4.0  2015-09-18 22:59:47  Cynthia                                         Burger Bar       4.0             2583        1                           Bars,Restaurants,Burgers
510       4.0  2016-01-05 17:46:17  Cynthia                                    Pho Thanh Huong       4.0              481        1                             Restaurants,Sandwiches
511       2.0  2012-11-30 03:46:22  Cynthia                                       Pepe's Tacos       2.5              218        1                                   Food,Restaurants
512       2.0  2014-09-30 06:16:11  Cynthia                                     Tacos N' Ritas       2.5               61        1                        Vegetarian,Food,Restaurants
513       5.0  2013-04-05 09:57:10  Cynthia                                      Einstein Bros       3.5               84        1                             Restaurants,Sandwiches
514       4.0  2013-05-03 06:53:57  Cynthia                                 Aranya Thai Bistro       3.0               74        0                                        Restaurants
515       5.0  2015-09-04 22:14:34  Cynthia                                Terrace Pointe Cafe       4.0              744        1                                        Restaurants
516       4.0  2017-06-28 22:33:16  Cynthia                          Lazy Dog Restaurant & Bar       4.0              815        1  Comfort Food,Restaurants,Bars,Breakfast & Brun...
517       5.0  2018-01-03 19:42:43  Cynthia                                 Soho Sushi Burrito       4.5              225        1         Fast Food,Restaurants,Food,Sushi Bars,Poke
518       4.0  2013-02-22 05:06:44  Cynthia                                        Caf Presse       3.0               85        0                                  Food,Coffee & Tea
519       4.0  2018-05-02 21:04:31  Cynthia                                         Lucki Thai       4.5              712        1                                        Restaurants
520       5.0  2013-03-06 05:09:09  Cynthia                                               Ebar       4.0               35        1                      Coffee & Tea,Coffeeshops,Food
521       3.0  2016-06-06 22:07:50  Cynthia                    Las Vegas South Premium Outlets       3.5              462        1                                        Restaurants
522       4.0  2015-05-21 17:07:34  Cynthia                                     Gelato Messina       4.5              210        0  Ice Cream & Frozen Yogurt,Desserts,Patisserie/...
523       5.0  2014-04-01 01:10:40  Cynthia  Fleming's Prime Steakhouse & Wine Bar - Las Vegas       4.0              389        1     Restaurants,Steakhouses,Seafood,Bars,Wine Bars
524       4.0  2015-02-17 22:59:32  Cynthia                                Cold Stone Creamery       2.5               79        1  Cupcakes,Custom Cakes,Ice Cream & Frozen Yogur...
525       3.0  2013-03-06 05:29:39  Cynthia                            Sambalatte Torrefazione       4.0              855        1  Restaurants,Breakfast & Brunch,Coffee & Tea,Ca...
526       5.0  2012-10-08 03:43:24  Cynthia                                   Sushi On Rainbow       3.5              152        0                     Buffets,Sushi Bars,Restaurants
527       2.0  2015-04-29 18:16:55  Cynthia                                         Sushi Loca       3.0              285        1                        Food,Restaurants,Sushi Bars
528       3.0  2014-01-09 02:58:05  Cynthia                                      Baguette Cafe       4.5             1193        1  Delis,Coffee & Tea,Vegan,Breakfast & Brunch,Fo...
529       3.0  2013-06-01 08:54:42  Cynthia                             Tropical Smoothie Cafe       3.0               72        0                        Juice Bars & Smoothies,Food
530       4.0  2016-07-06 22:00:34  Cynthia                         Teriyaki Boy Healthy Grill       4.0              143        1                              Fast Food,Restaurants
531       4.0  2016-08-08 22:35:54  Cynthia                                Perk Up Coffee Shop       4.0              161        1  Restaurants,Breakfast & Brunch,Cafes,Sandwiche...
532       5.0  2018-06-19 18:22:34  Cynthia                                         Bomb Tacos       4.5              368        1                                        Restaurants
533       4.0  2014-10-23 01:45:16  Cynthia                                          Zeffirino       3.5              405        0  Food,Bars,Restaurants,Beer Bar,Seafood,Beer,Wi...
534       4.0  2018-06-25 18:21:21  Cynthia                                          Cafe Lola       3.5              181        1                Cafes,Restaurants,Food,Coffee & Tea
535       5.0  2013-01-13 01:55:26  Cynthia                                       Panera Bread       3.5              250        1  Bagels,Bakeries,Salad,Food,Breakfast & Brunch,...
536       2.0  2012-11-02 11:14:07  Cynthia                                   Chopstix Express       3.0               78        1                                        Restaurants
537       1.0  2013-01-13 06:05:46  Cynthia                                   Chopstix Express       3.0               78        1                                        Restaurants
538       5.0  2015-08-21 22:40:23  Cynthia                                         Gelatology       4.5              578        1     Gelato,Desserts,Food,Ice Cream & Frozen Yogurt
539       5.0  2013-02-25 01:42:08  Cynthia                                   Jamms Restaurant       4.5             1064        1                     Restaurants,Breakfast & Brunch
540       5.0  2013-03-06 04:58:17  Cynthia                                          Rattlecan       4.0               27        0                           Burgers,Food,Restaurants
541       5.0  2014-09-23 03:34:23  Cynthia                                     March Bacchus       3.5              726        1  Food,Wine Bars,Specialty Food,Beer,Wine & Spir...
542       3.0  2014-02-19 01:41:59  Cynthia                                       Wicked Spoon       3.5             6708        1             Buffets,Breakfast & Brunch,Restaurants
543       4.0  2013-02-07 07:56:43  Cynthia                                     Cantina Laredo       3.5              385        0  Specialty Food,Food,Restaurants,Cocktail Bars,...
544       4.0  2013-06-26 09:41:20  Cynthia                           California Pizza Kitchen       3.0              240        1                                  Pizza,Restaurants
545       3.0  2014-05-09 01:05:49  Cynthia                              Nacho Daddy Henderson       3.5              620        0      Breakfast & Brunch,Pubs,Food,Restaurants,Bars
546       4.0  2013-01-28 05:26:53  Cynthia                                          Los Tacos       4.0              369        1                                        Restaurants
547       4.0  2018-09-18 21:24:25  Cynthia                                    The Black Sheep       4.5              344        1           Wine Bars,Restaurants,Cocktail Bars,Bars
548       3.0  2016-02-12 18:06:24  Cynthia                                 Pink Box Doughnuts       4.5              821        1                                        Donuts,Food
549       5.0  2013-07-15 20:03:20  Cynthia                     Miller's Ale House - Las Vegas       3.5              628        1                           Restaurants,Seafood,Bars
550       5.0  2013-09-26 08:37:08  Cynthia                                     Sonic Drive-In       3.0              203        1  Ice Cream & Frozen Yogurt,Fast Food,Burgers,Fo...
551       4.0  2017-08-31 17:23:04  Cynthia                                   Rolled Ice Cream       4.0              191        1  Food,Ice Cream & Frozen Yogurt,Patisserie/Cake...
552       3.0  2015-08-24 22:43:30  Cynthia                        Laguna Pool House & Kitchen       4.0              159        1                          Restaurants,Burgers,Cafes
553       4.0  2015-01-13 23:06:07  Cynthia                   LAVO Italian Restaurant & Lounge       3.5             1653        1                Restaurants,Bars,Breakfast & Brunch
554       5.0  2018-03-28 18:32:02  Cynthia                                        Smashburger       3.5              196        1                      Restaurants,Fast Food,Burgers
555       4.0  2017-02-17 19:21:21  Cynthia                                            Allegro       3.5              449        1                                        Restaurants
556       5.0  2014-01-30 23:20:47  Cynthia                           Ruth's Chris Steak House       4.0              471        1                    Steakhouses,Restaurants,Seafood
557       4.0  2014-07-14 05:54:55  Cynthia                                              Yusho       3.0              293        0                                   Restaurants,Food
558       4.0  2013-06-23 09:46:58  Cynthia                                     Crafted Buffet       2.5              194        1                                Restaurants,Buffets
559       5.0  2013-02-25 01:55:46  Cynthia                                       Popcorn Girl       4.5              211        1         Desserts,Food,Specialty Food,Popcorn Shops
560       5.0  2012-09-21 03:48:10  Cynthia                                       Popcorn Girl       4.5              211        1         Desserts,Food,Specialty Food,Popcorn Shops
561       3.0  2013-07-15 20:20:07  Cynthia                                Greens and Proteins       4.0              409        1  Sandwiches,Juice Bars & Smoothies,Food,Burgers...
562       5.0  2017-06-12 21:34:33  Cynthia                                             Pho 88       4.0              160        1                           Soup,Restaurants,Noodles
563       2.0  2014-11-21 04:35:56  Cynthia                                     The SLS Buffet       3.5               61        0                                Restaurants,Buffets
564       5.0  2013-05-23 10:32:41  Cynthia                                        Farmer Boys       3.5              270        1  Restaurants,Salad,Sandwiches,Burgers,Diners,Br...
565       2.0  2017-02-22 23:28:35  Cynthia                      Guy Fieri's El Burro Borracho       3.5              832        1                                        Restaurants
566       5.0  2017-02-24 22:45:23  Cynthia                                         Pita House       4.5              289        1                                  Restaurants,Vegan
567       4.0  2013-05-08 03:57:15  Cynthia                                     Baskin-Robbins       4.0               68        1  Ice Cream & Frozen Yogurt,Custom Cakes,Food,De...
568       3.0  2016-01-22 18:19:19  Cynthia                                        Shake Shack       3.5              547        1  Food,Restaurants,Ice Cream & Frozen Yogurt,Bur...
569       4.0  2017-04-11 17:01:17  Cynthia                                         Tea Lounge       4.0              422        1  Tea Rooms,Coffee & Tea,Tapas Bars,Restaurants,...
570       4.0  2016-04-01 21:26:18  Cynthia                                               Sage       4.0             1046        1                                        Restaurants
571       5.0  2018-05-10 22:09:21  Cynthia                                Tournament of Kings       4.0              505        1                                        Restaurants
572       5.0  2014-01-22 19:29:31  Cynthia                                      Potato Corner       4.5               15        0          Restaurants,Food,Fast Food,Specialty Food
573       5.0  2018-10-30 16:26:46  Cynthia                                             Mr Tea       4.5              363        1  Bubble Tea,Juice Bars & Smoothies,Coffee & Tea...
574       4.0  2014-03-11 21:58:10  Cynthia                                           AquaKnox       4.0              504        1  Steakhouses,Bakeries,Bars,Seafood,Restaurants,...
575       4.0  2015-11-13 23:33:10  Cynthia  Tommy Bahama Restaurant | Bar | Store - Las Vegas       4.0              486        1                                Restaurants,Seafood
576       4.0  2016-05-23 21:21:36  Cynthia                                Greens and Proteins       4.0              243        1          Restaurants,Breakfast & Brunch,Sandwiches
577       5.0  2017-03-28 17:12:43  Cynthia                            Makers & Finders Coffee       4.5              961        1  Cafes,Breakfast & Brunch,Coffee & Tea,Food,Res...
578       5.0  2013-04-30 20:29:20  Cynthia                                     Tacos El Gordo       4.0             3243        1                                  Tacos,Restaurants
579       5.0  2017-05-22 22:20:04  Cynthia                               Gordon Ramsay Burger       4.0             1781        1                                Restaurants,Burgers
580       3.0  2013-04-09 03:44:34  Cynthia                        Popped Gourmet Popcorn Spot       4.0               14        0                   Food,Specialty Food,Candy Stores
581       5.0  2013-04-05 10:06:57  Cynthia                          Thai Style Noodle House 2       4.0              426        1                          Noodles,Restaurants,Vegan
582       3.0  2014-11-12 02:50:02  Cynthia                        Blondies Sports Bar & Grill       3.0              611        1                                   Restaurants,Bars
583       4.0  2015-09-18 23:13:08  Cynthia                                           Canonita       4.0              840        1                                  Tacos,Restaurants
584       3.0  2015-09-16 17:04:00  Cynthia                                 Trattoria Reggiano       4.0              329        1  Wine Bars,Bars,Restaurants,Pizza,Breakfast & B...
585       4.0  2016-02-25 17:45:35  Cynthia                                Archi's Thai Bistro       4.0              770        1                    Restaurants,Food,Specialty Food
586       4.0  2013-05-23 10:14:12  Cynthia                                         Leon Caf       4.0              689        1  Cafes,Breakfast & Brunch,Food,Coffee & Tea,Res...